﻿@using Microsoft.AspNetCore.Http.Extensions;
@{
    const string applicationName = "Converter";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@applicationName - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script>
        var mgb = mgb || {};
        mgb.app = mgb.app || {};
        mgb.core = mgb.core || {};
        mgb.vm = mgb.vm || {};
        mgb.app.config = {
            url: '@UriHelper.BuildRelative("/")',
            displayName: '@applicationName'
        };


    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@applicationName</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Convert" asp-action="Index">Convert</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="applicationView">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/knockout/build/knockout-raw.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/extensions/ko.bindingHandlers.js" asp-append-version="true"></script>
    <script src="~/js/mgb/app/datacontext.js" asp-append-version="true"></script>
    <script src="~/js/mgb/core/date.js" asp-append-version="true"></script>
    <script src="~/js/mgb/vm/ApplicationVm.js" asp-append-version="true"></script>
    <script src="~/js/mgb/vm/ConverterCalcVm.js" asp-append-version="true"></script>


    @RenderSection("scripts", required: false)

    <script>
        mgb.app.init = function () {
            mgb.app.applicationVm = new mgb.vm.ApplicationVm("applicationView");
            mgb.app.applicationVm.bind();
        };

        $(document).ready(function () {
            mgb.app.init();
            if (mgb.app.initConverterView != null)mgb.app.initConverterView();
        });
    </script>
</body>
</html>
