﻿@{
    ViewData["Title"] = "Convert";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Converter</h3>
            </div>
            <div class="panel-body">
                <!-- Calc -->
                <div id="addCalcView">
                    <div class="mainView">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td style="width: 20%;">Från Valuta</td>
                                    <td style="width: 20%;">Till Valuta</td>
                                    <td style="width: 20%;">Datum</td>
                                    <td style="width: 20%;">Summa</td>
                                    <td style="width: 20%;">&nbsp;</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><select id="fromCurrency" placeholder="Från Valuta" class="form-control input-sm" data-bind="options: currencyNames,optionsValue: 'id',optionsText: 'name',value: fromCurrencyId, optionsCaption: 'Välj...'"></select></td>
                                    <td><select id="toCurrency" placeholder="Till Valuta" class="form-control input-sm" data-bind="options: currencyNames,optionsValue: 'id',optionsText: 'name', value: toCurrencyId, optionsCaption: 'Välj...'"></select></td>
                                    <td><input type="text" id="rateDate" class="form-control input-sm" data-bind="datePicker: rateDate"></td>
                                    <td><input type="text" id="amount" placeholder="0" class="form-control input-sm text-right" data-bind="value: amount" /></td>
                                    <td><button type="button" class="btn btn-primary btn-sm" data-bind="enable: isValid, click: addCalc">Lägg till</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /Calc -->
                        <!-- Table -->
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td style="width: 20%;">Datum (kurs)</td>
                                    <td style="width: 20%;">Summa</td>
                                    <td style="width: 20%;">Från Valuta</td>
                                    <td style="width: 20%;">Till Valuta</td>
                                    <td style="width: 20%;">Resultat</td>
                                    <td style="width: 20%;">&nbsp;</td>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: tableRows">
                                <tr>
                                    <td><span data-bind="text: rateDate"></span></td>
                                    <td class="text-right"><span data-bind="text: fromAmount"></span></td>
                                    <td><span data-bind="text: fromCurrencyName"></span></td>
                                    <td><span data-bind="text: toCurrencyName"></span></td>
                                    <td class="text-right"><span data-bind="text: toAmount"></span></td>
                                    <td><button type="button" class="btn btn-primary btn-xs" data-bind="click: $root.delRow">Radera</button></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr style="background-color: #f0f0f0;">
                                    <td colspan="3"></td>
                                    <td>Totalt</td>
                                    <td class="text-right"><span data-bind="text: totalAmount">0</span></td>
                                    <td><select class="form-control input-sm" data-bind="options: currencyNames,optionsValue: 'id',optionsText: 'name', value: sumCurrencyId, optionsCaption: 'Välj...'">"></select></td>
                                </tr>
                            </tfoot>
                        </table>
                        <!-- /Table -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    mgb.app.initConverterView = function () {
        mgb.app.converterCalcVm = new mgb.vm.ConverterCalcVm("addCalcView", mgb.app.applicationVm, mgb.app.dataContext);
        mgb.app.converterCalcVm.bind();
    };
</script>
