﻿@{
    ViewData["Title"] = "Home";
}
<ol class="breadcrumb">
    <li class="active">@ViewData["Title"]</li>
    @*<li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>*@
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewData["Title"]</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>
